@font-face {
  font-family: "Tahoma";
  src: url("../../public/assets/fonts/Tahoma-Font/Tahoma-Regular-font.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Tahoma light";
  src: url("../../public/assets/fonts/Tahoma-Font/TAHOMA_0.TTF");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Tahoma bold";
  src: url("../../public/assets/fonts/Tahoma-Font/TAHOMAB0.TTF");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Tahoma bolder";
  src: url("../../public/assets/fonts/Tahoma-Font/TAHOMABD.TTF");
  font-weight: 400;
  font-style: bold;
}
