@import "../../default-styles/_fonts.scss";
@import "../../default-styles/media-queries";
@import "../../default-styles/default-margins";

* {
  margin: 0;
  padding: 0;
}
.start {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding-inline: $default-padding-inline-mobile;
  @include tablet-size {
    padding-inline: $default-padding-inline-tablet;
  }
  @include desktop-size {
    display: none;
  }
  @include lower-sizes {
    display: none;
  }
}
.start > img {
  margin-top: 73px;
  margin-left: 15px;
  width: 282px;
  height: 243px;
  flex-shrink: 0;
}
.start > h1 {
  font-family: "Tahoma bolder";
  color: #100101;
  font-size: 33px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 20px;
  margin-top: 10px;
}

.social-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.start .footer {
  font-family: "Tahoma";
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 17px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.footer p {
  color: #d4bfbf;
}
.footer :nth-child(2) {
  text-decoration: none;
  color: #7210ff;
}
