@import "../default-styles/fonts";
@import "../default-styles/media-queries";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Tahoma";
}

.notifications-con {
  padding-inline: 20px;
}
.head-mb-img-moz {
  width: 100%;
  @include tablet-size {
    display: none;
  }
}
.head-mb-foo {
  text-transform: capitalize;
  font-family: "Tahoma bold";
  color: #000;
  font-size: 18px;
  letter-spacing: 0.792px;
}

.notif-card-con {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.notif-card-con .notif-today-p {
  margin-top: 30px;
  color: #090101;
  font-size: 15px;
  letter-spacing: 0.825px;
  text-transform: capitalize;
}
