@import "../default-styles/fonts";
@import "../default-styles/media-queries";
@import "../default-styles/default-margins";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Tahoma";
}

.notifications-con {
  padding-inline: $default-padding-inline-mobile;
  margin-top: $default-margin-top;
  @include lower-sizes {
    display: none;
  }
  @include tablet-size {
    padding-inline: $default-padding-inline-tablet;
  }
  @include desktop-size {
    display: none;
  }
}

.notif-card-con {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.notif-card-con .notif-today-p {
  margin-top: 30px;
  color: #090101;
  font-size: 15px;
  letter-spacing: 0.825px;
  text-transform: capitalize;
}
