@import "../../default-styles/fonts";
@import "../../default-styles/media-queries";
@import "../../default-styles/default-margins";

.mt-default {
  margin-top: $default-margin-top;
}

.all-services {
  padding-inline: $default-padding-inline-mobile;
  font-family: "Tahoma";
  @include lower-sizes {
    display: none;
  }
  @include tablet-size {
    padding-inline: $default-padding-inline-tablet;
  }
  @include desktop-size {
    display: none;
  }
}

.all-services .head-mb-foo {
  font-family: "Tahoma bold";
  color: #000;
  font-size: 18px;
  letter-spacing: 0.792px;
  text-transform: capitalize;
}
