@import "../default-styles/_fonts.scss";
@import "../default-styles/media-queries";

.start {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  @include desktop-size {
    display: none;
  }
  @include lower-sizes {
    display: none;
  }
}
.start > img {
  margin-top: 50px;
  margin-left: 15px;
  width: 282px;
  height: 243px;
  flex-shrink: 0;
}
.start > h1 {
  text-transform: capitalize;
  font-family: "Tahoma bolder";
  color: #100101;
  font-size: 33px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.social-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  @include tablet-size{
    width: 75%;
  }
}
.social-media-sign-in {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: start;
  border-radius: 18px;
  border: 1px solid #707070;
  background: #fff;
  height: 58px;
  flex-shrink: 0;
  gap: 10px;
  width: 90%;
  min-width: 300px;
  padding-left: 10px;
}

.social-media-sign-in img {
  width: 31px;
  height: 40.486px;
  flex-shrink: 0;
  margin-top: 8px;
}

.social-media-sign-in h3 {
  color: #707070;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
