@import "../../default-styles/default-margins";
@import "../../default-styles/fonts";
@import "../../default-styles/media-queries";

* {
  @include all-margin-padding-0;
}

.calendar-con {
  margin-top: $default-margin-top;
  padding-inline: $default-padding-inline-mobile;
  @include tablet-size {
    padding-inline: $default-padding-inline-tablet;
  }
}
.service-booking-head-foo {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #110202;
  font-family: "Tahoma bold";
  font-size: 15px;
}
.no-ser-foo {
  color: #110202;
  font-family: "Tahoma bold";
  font-size: 15px;
}
.you-dont-book-foo {
  color: #100101;
  font-size: 13px;
  opacity: 0.44;
}
