@import "../../default-styles/default-margins";
@import "../../default-styles/fonts";
@import "../../default-styles/media-queries";

* {
  @include all-margin-padding-0;
}

.your-address-location {
  margin-top: $default-margin-top;
  padding-inline: $default-padding-inline-mobile;
  @include lower-sizes {
    display: none;
  }
  @include tablet-size {
    padding-inline: $default-padding-inline-tablet;
  }
  @include desktop-size {
    display: none;
  }
}
