@import "../default-styles/default-margins";
@import "../default-styles/fonts";
@import "../default-styles/media-queries";

.cleaning {
  padding-inline: $default-padding-inline-mobile;
  margin-top: $default-margin-top;

  @include lower-sizes {
    display: none;
  }
  @include tablet-size {
    padding-inline: $default-padding-inline-tablet;
  }

  @include desktop-size {
    display: none;
  }
}

.cleaning .head-mb-foo {
  text-transform: capitalize;
  font-family: "Tahoma bold";
  color: #000;
  font-size: 18px;
  letter-spacing: 0.792px;
}
